body{
background:#0b3d0b;
color:white;
text-align:center;
font-family:arial;
}

.team{
background:#222;
padding:10px;
border-radius:10px;
margin:10px;
}

.controls button{
padding:10px;
margin:5px;
font-size:20px;
}

.live{
background:red;
padding:5px;
}